.productContainer {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    flex-direction: column;

    padding: 20px;
}

.productContainer > .betterProducts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
    gap: 20px;
}

.productContainer > .betterProducts::-webkit-scrollbar {
    display: none;
    justify-content: center;
    align-content: center;
}

.productContainer > .betterProducts > .image {
    display: flex;
    width: calc(50% - 30px);
    height: 150px;
    justify-content: center;
    align-items: center;

    border-radius: 16px;

    background-color: #FFA987;

    cursor: pointer;
}


.productContainer > .betterProducts > .image:hover {
    opacity: 0.8;
}

.productContainer > .betterProducts > .image > img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 500px) {
    .productContainer > .carousel {
        height: 26vh;
    }
    
    .productContainer > .carousel > .item {
        height: 26vh;
    }

    .productContainer > .carousel > .item > .text > h3 {
        font-size: 2rem;
    }

    .productContainer > .carousel > .item > .image > img {
        height: 26vh;
    }

    .productContainer > .betterProducts > .image {
        height: 250px;
        width: calc(50% - 10px);
    }
}